.container{
    width: 70% ;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
}

body{
    background-color: #393E46;
}

h1{
    margin: 8%;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ecca3;
}

p{
    font-size: 2rem;
    color: #4ecca3;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

img {
    width: 80% ;
}

footer{
    margin-top: 5%;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}